<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Block Lambda Snippet</Title>
      <Description>Code snippet for a block lambda method</Description>
      <Shortcut>lam</Shortcut>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[= () =>$end$]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>